<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="font-family: Arial; font-size: 14px;">
<p>Olá!</p>
<p>Existem vouchers vencidos:</p>

<table style="width: 100%; border-collapse: collapse; margin: 20px 0">
  <thead>
  <tr>
    <th>Voucher</th>
    <th>Cliente</th>
    <th>Promotor</th>
    <th>Data Visita</th>
  </tr>
  </thead>
  <tbody>
  <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" th:each="voucher : ${vouchers}">
    <td style="text-align: center" th:text="${voucher.code}">Voucher</td>
    <td style="text-align: center" th:text="${voucher.client.name}">Cliente</td>
    <td style="text-align: center" th:text="${voucher.promoter.name}">Promotor</td>
    <td style="text-align: center" th:text="${#temporals.format(voucher.visitDate, 'dd/MM/yyyy')}">Visita</td>
  </tr>
  </tbody>
</table>

<p>Equipe NimbusNovax.</p>
</body>
</html>
